:root {
  --color-fur: #ffb141;
  --color-fur-dark: #f5832c;
  --color-spot: #f9584c;
  --color-snout: #544258;
  --color-collar: #1e61ae;
  --duration: 0.7s;
  --semi-duration: calc(var(--duration) / 2);
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
  --stagger: calc(-1 * var(--semi-duration) / 2);
}


